<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753858927962-rkvunpe25d1l0jecpmtvurm8or4dfqpt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753858927962-rkvunpe25d1l0jecpmtvurm8or4dfqpt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>753858927962-amqkm0g9unfarhftcfgodn792d8orb7m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBol239uRsiEXe6BGj3eLzda40YUjoJiiI</string>
	<key>GCM_SENDER_ID</key>
	<string>753858927962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.energym.gymApp</string>
	<key>PROJECT_ID</key>
	<string>energym-9f022</string>
	<key>STORAGE_BUCKET</key>
	<string>energym-9f022.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753858927962:ios:bc0d78aea6e7550334e763</string>
	<key>DATABASE_URL</key>
	<string>https://energym-9f022-default-rtdb.firebaseio.com</string>
</dict>
</plist>